html
, body {
    height: 100%;
    margin: 0; padding: 0;
    text-align: center;
}
body {
    font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
    font-size: 12px;
    padding: 0; margin: 0;
    line-height: 2em;
    background: #d6d6d6 url('img/bg-gradient.jpg') repeat-x;
}

div.invite, div.share {
    background: #f5fcf2;
    height: 130px; width: 280px;
    position: absolute; left: 50%; top: 50%;
    margin-top: -65px;
    margin-left: -140px;
    -moz-box-shadow: 1px 1px 12px #000;
    -webkit-box-shadow: 1px 1px 12px #000;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}
div.share {
    height: 140px;
}

.invite div, .share div {
    padding: 0 10px;
}

.invite label span {
    font-size: 150%;
    display: block;
    text-align: center;
    margin: 10px 0;
}

input[type="text"] {
    width: 65%;
    border: 1px solid #d2e8c8;
}


.invite input[type="submit"] {
    font-size: 180%;
    height: 50px;
    width: 280px;
    font-family: Georgia, "Times New Roman", Times, freeserif, serif;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #d2e8c8;
    border: 0;
    height: 50px;
    -moz-border-radius-bottomright: 16px;
    -moz-border-radius-bottomleft: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -webkit-border-bottom-right-radius: 16px;
}

h1 {
    font-size: 200%;
}