{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "layout/base.html" %}
{% set title = 'dashboard' %}
{% set styles = ('dashboards',) %}
{% set scripts = ('dashboards',) %}

{% block content %}
  <div id="content">
  <article id="constants" style="display: none"
    data-folders-url="{{ url('folders.list') }}"
    data-all-url="{{ url('all.json') }}"
    data-friends-url="{{url('users.friends') }}"
    data-current-user="{{ json_user(user) }}">
    <div id="data-help">
      <div id="h-top" class="help">
        <h1>Welcome to fastask! Need some help?</h1>
        <div class="text">
          <p>We're excited that you are using our product. Below you will find a description of the available features and examples.</p>
          <h2>Sections</h2>
          <p>
            fastask has one page from which you can perform most of your actions. It's like GMail! This page is split into five areas of interest. Here they are:
            <ul>
              <li><a href="#h-main">The main box</a>, the largest of them all, contains four tabs, a search feature.</li>
              <li><a href="#h-noti">The notification area</a>, shows you feedback about important actions.</li>
              <li><a href="#h-work">The work box</a>, from which you can create and plan tasks.</li>
              <li><a href="#h-prof">Your profile</a>, from which you can change your name, email, or password.</li>
            </ul>
            Other sections:
            <ul>
              <li><a href="#h-due">Due dates</a>, how fastask understands and displays due dates.</li>
              <li><a href="#h-groups">Groups</a>, how to create and efficiently use groups.</li>
            </ul>
          </p>


          <h2 id="h-main">Main box</h2>
          <a href="#h-top">back to top</a>

          <h3>Top bar</h3>
          <p>
            First, look at the top bar, on top of the tasks. To the top left, notice 4 tabs, in order:
            <ul>
              <li><em>My tasks</em> &mdash; what you created and are also following.</li>
              <li><em>Assignments</em> &mdash; what other people have shared with you.</li>
              <li><em>Command center</em> &mdash; what you created for other people.</li>
              <li><em>Archive</em> &mdash; what you are following and is marked done.</li>
            </ul>
          </p>
          <p>The center area shows your currently active tab. If you have created groups, hover over this area to filter your tasks by groups when viewing. Note that filtering by groups only brings up the tasks in that group <em>in the currently viewed tab</em>.</p>
          <p>The rightmost area is for search. Simply type a word or two and the results will appear below.</p>

          <h3>Main list and pagination</h3>
          <p><em>See also</em> <a href="#h-due">due dates</a> and <a href="#h-groups">groups</a></p>
          <p>The list is the most frequently used part of fastask. You can edit your tasks, change their priority, share or unshare them with others, delete them, and so on.</p>
          <p>For the first 3 tabs, tasks are listed first in order of priority, and then by due date. For the archive (4th tab), they are ordered by completion time.</p>
          <p>While you are editing a row, its background will change color temporarily, to indicate whether your action has completed successfully. If your actions will change the order or number of tasks in your list, the list will refresh after a few seconds of inactivity.</p>
          <p>To mark a task as complete (or unmark it), click the <em>checkbox</em> to the left.</p>
          <p>To change its priority, click the <em>circle icon</em> to the left of the text.</p>
          <p>To edit a task or its due date, simply click on that area. Press <em>Enter</em> when you are done editing, or <em>Esc</em> to cancel your changes. If you click on the wrong task, no worries &mdash; you can navigate in the list by pressing the arrors: Up/Down or Ctrl + Alt + Left/Right.</p>
          <p>To delete a task, click the red <em>delete icon</em> to the right. To undo your deletion, click on the <em>green</em> icon</p>
          <p>To share a task, hover over the rightmost <em>sharing icon</em> and select who you want to share with.</p>
          <p>To navigate through a longer list, use the pagination at the bottom.</p>


          <h2 id="h-noti">Notification area</h2>
          <a href="#h-top">back to top</a>

          <p>
            This area gives you feedback about your actions. Some of the notifications included are:
            <ul>
              <li><em>Task added</em> &mdash; when you create a task from the <em><a href="#h-work">work box</a></em>.</li>
              <li><em>Task created in planner</em> &mdash; when you plan a new task.</li>
              <li><em>Password changed/Profile updated</em> &mdash; when you change your password successfully or update your profile.</li>
              <li><em>Failure to update profile</em> &mdash; this usually happens if you try to change your password and type incorrectly. Your password must be at least 5 characters.</li>
              <li><em>Task deleted/undeleted</em> &mdash; when you delete/undelete a task.</li>
            </ul>
          </p>


          <h2 id="h-work">Work box</h2>
          <a href="#h-top">back to top</a>

          <p>From here you can create and plan tasks. Fill out the fields and click <em>submit</em> or <em>plan</em>.</p>
          <p>The date field is fairly flexible and we are continuously looking for suggestions on improving its understanding of dates if you feel it is insufficient. <a href="#h-due">Read more about due dates</a>.</p>


          <h2 id="h-prof">Profile</h2>
          <a href="#h-top">back to top</a>

          <p>From here you can change your name, email, or password.</p>

          <h2 id="h-due">Due dates</h2>
          <a href="#h-top">back to top</a>

          <p>You can use common formats for dates. The display shows the number of days followed by the number of hours, in this format:<br/> '<code>dd:hh</code><br/>
    For dates within a week of the current date, the display shows the day as e.g. <em>Tue</em> (for Tuesday), prefixed by <em>last</em> if the date has passed. We are working on improving date displays and expanding this section of the help, <a href="http://craciunoiu.net/contact" target="_blank">click here to leave us suggestions</a>.</p>

          <h2 id="h-groups">Groups</h2>
          <a href="#h-top">back to top</a>

          <p>Groups are a great way to organize your tasks. They will show up in a drop down for each tab in the main list, so you can only show that group from the current tab.</p>
        </div>{# /.text #}
      </div>{# /#h-top #}
    </div>{# /#data-help #}

  // shown when no tasks in list
    <div id="data-notasks">
      <div class="notasks">
        No tasks are available. Create one using the box to the right.
      </div>
    </div>

    <ul id="data-group">
      <li><a href="#"></a></li>
    </ul>

    <ul id="data-follower">
      <li>
        <label>
          <input class="" type="checkbox" name="follower[]" value=""/>
          <span></span>
        </label>
      </li>
    </ul>

    <div id="data-mainrow">
      <div class="row">
        <div class="td s">
          <input type="checkbox" class="md sh" name="status" />
        </div>
        <div class="td p"><a href="#" title="change priority"></a></div>
        <div class="td text"><span class="editable"></span></div>
        <div class="td due"><span class="editable"></span></div>
        <div class="td del">
          <a href="#"> </a>
          <input type="hidden" value="" name="task_id">
          <input type="hidden" value="" name="user_id">
        </div>
        <div class="td followers"><a href="#" title="sharing"></a></div>
      </div>
    </div>

    <div id="data-rowgroup">
      <a href="#" class="g"></a>
    </div>

    <div id="data-editable">
      <span class="editable"></span>
    </div>

    <div id="data-notification">
      <div class="notification">
        <div class="top">
          <span>Notifications</span>
          <span class="adding">:: Adding...</span>
        </div>
        <ul></ul>
      </div>
    </div>

    <ul id="data-notifs">
      <li>
        <span class="icon a"></span>
        <span>Task added</span>
      </li>
      <li>
        <span class="icon d"></span>
        <span>Task deleted</span>
      </li>
      <li>
        <span class="icon u"></span>
        <span>Cannot unassign everyone</span>
      </li>
      <li>
        <span class="icon p"></span>
        <span>Task moved to planner</span>
      </li>
      <li>
        <span class="icon s"></span>
        <span>Password changed</span>
      </li>
      <li>
        <span class="icon e"></span>
        <span>Task undeleted</span>
      </li>
    </ul>

    <div id="data-modal_trigger">
      <a href="#" class="modal_trigger jqModal hide">Show error</a>
    </div>

    <div id="data-modal">
      <div class="jqmWindow modal_dialog">
        <a href="#" class="jqmClose">x</a>
        <div class="text"></div>
      </div>
    </div>

    <div id="data-profile">
      <div class="profile-box">
        <div class="loading"></div>
        <h1 class="title"></h1>
        <form action="/user/update" method="POST">
          <label class="name">Name: <br />
            <input type="text" name="name" value="" />
          </label>
          <label class="email">Email: <br/>
              <input type="text" name="email" value="" />
          </label>
          <label class="change_password"><span class="lstep">
            Change Password:</span><br/>
            <input type="password" name="change_password" value="" />
            <input type="hidden" name="current_password" value="" />
            <input type="hidden" name="password" value="" />
            <input type="hidden" name="password_confirm" value="" />
            <a class="submit">next</a>
            <span class="info-box">
              <span class="info">Enter current password.</span>
              <span class="steps">
                <span class="on" href="#">1</span> &rsaquo;
                <span href="#">2</span> &rsaquo;
                <span href="#">3</span>
              </span>
            </span>
          </label>
          <span class="links">
            <a class="save" href="#">save</a>
            <a href="{{ url('users.logout') }}">log out</a>
            <a class="cancel" href="#">cancel</a>
          </span>
      </form>
      </div>
    </div>

    <div id="data-work-box">
      <div class="work-box">
        <h1 id="wb" class="title">work box</h1>
        <form action="/task/add" method="POST">
          <label class="text">Task: <br />
            <textarea rows="5" cols="10" name="text"></textarea>
          </label>
          <label class="due">Date: <br/>
            <input type="text" name="due" value="" />
            <span class="due-icon"></span>
          </label>
          <div class="share label">Sharing: <br/>
            <span class="input"></span>
            <span class="share-icon"></span>
          </div>
          <div class="priority label"><span>Priority:</span>
            <input type="hidden" name="priority" value="3" />
            <span class="p p-1"><span class="img hi" alt="1"></span> High</span>
            <span class="p p-2"><span class="img me" alt="2"></span> Medium</span>
          </div>
          <input type="submit" name="add" title="Add task" value="Add task" />
          <input type="submit" name="plan" title="Plan task" value="Plan task" />
          <a class="clear" href="#">clear</a>
        </form>
      </div>
    </div>

    <div id="data-spinwheel">
      <div class="spin"></div>
    </div>

    <ul id="data-collaborate">
      <li><a href="#">Add collaborator</a></li>
    </ul>

    <div id="data-help_trigger">
      <a href="#" class="help_trigger"><span class="text">Help</span><span class="icon"></span></a>
    </div>

    <div id="data-task-box">
      <div class="task-box box" rel="0" id="main">
        <div class="loading"></div>
        <div class="tabs">
          <div class="icon my-tasks" title="my and only my tasks">
            <a href="#t=0"></a><span class="c"></span>
          </div>
          <div class="icon assignments" title="assignments from others">
            <a href="#t=1"></a><span class="c"></span>
          </div>
          <div class="icon command" title="command center">
            <a href="#t=2"></a><span class="c"></span>
          </div>
          <div class="icon archive" title="archive">
            <a href="#t=3"></a><span class="c"></span>
          </div>
        </div>
        <div class="groups">
          <h1 class="title"><a href="#t=0">my tasks</a></h1>
        </div>
        <div class="search">
          <input type="text" name="search" value="" title="Search as you type" />
          <span class="search-s info" style="display: none">Searching...</span>
          <div class="icon" title="search"><a href="#s=1"></a></div>
        </div>
        <div class="task-table table" cellspacing="0"></div>
      </div>
    </div>
  </article>{# constants #}
  </div>{# content #}
{% endblock %}
