{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "layout/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% set styles = ('login',) %}
{% set scripts = ('register',) %}
{% set title = 'Log In' %}
{% set classes = 'login' %}

{% block content %}
  <article id="login" class="js-only">
    {{ errorlist(form) }}
    <form method="post" action="">
      {{ csrf() }}
      <input type="hidden" name="next" value="{{ next_url }}" />
      <ul id="fields">
        <li id="user">
          <label for="id_username">Username:</label>
          <input id="id_username" type="text" name="username" autofocus />
        </li>
        <li id="pass">
          <label for="id_password">Password:</label>
          {{ form.password|safe }}
          <a href="{# TODO: reset password #}" id="forgot">Forgot password?</a>
        </li>
      </ul>
      <div class="submit">
        <input type="submit" value="log in" />
        <a id="noaccount" href="{{ url('users.register') }}">
          Don't have an account?<br/>
          Sign up for one!</a>
      </div>
    </form>
  </article>
{% endblock %}
