{# vim: set ts=2 et sts=2 sw=2: #}
<!DOCTYPE html>
<html class="no-js" lang="en-US" manifest="{{ MEDIA_URL }}offline.manifest">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{{ title }} | {{ settings.SITE_TITLE }}</title>

<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}img/favicon.ico"/>
{% if feeds %}
  {% for feed in feeds %}
    <link rel="alternate" type="application/atom+xml" href="{{ feed[0] }}" title="{{ feed[1] }}"/>
  {% endfor %}
{% endif %}

{{ css('common') }}
{% for style in styles %}
  {{ css(style) }}
{% endfor %}

{% if meta %}
  {% for tag in meta %}
    <meta name="{{ tag[0] }}" content="{{ tag[1] }}">
  {% endfor %}
{% endif %}
</head>
<body{% if classes %} class="{{ classes }}"{% endif %}>

<div id="main" role="main">
  <div class="nojs">
    <script type="text/javascript">
      document.write("Loading...");
    </script>
    <noscript>You must enable javascript to use {{ settings.SITE_TITLE }}.</noscript>
  </div>
  {% block content %}
  {% endblock %}
</div>

<footer id="footer">
  <div id="footer-contents" role="contentinfo">
  </div>{# /#footer-contents #}
</footer>{# /#footer #}

{{ js('common') }}
{% for script in scripts %}
  {{ js(script) }}
{% endfor %}

</body>
</html>
